@page "/"
@namespace BlazorWave.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/inputfile.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blazor Wave</title>
    <base href="~/" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/dist/semantic.css">
    <script src="/dist/semantic.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/flex.css">
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/2.0.0/trianglify.min.js"></script>
    <script>
        window.getImage = () => {
            var pattern = Trianglify({
                width: 100,
                height: 100
            });

            return pattern.png();
        }
        window.getMicah = () => {
            return "Micah";
        }
    </script>

    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </app>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
