@inherits LayoutComponentBase
@inject Services.NowPlayingPageService nowPlayingService

<div class="flex-row">
    <div class="sidebar">
        <div class="brand">Blazor Wave</div>
        <NavMenu />
    </div>
    <div class="main">
        <div class="top-row">
            <div class="ui segment flex flex-row" style="justify-content: space-between;">
                <NowPlayingControls AlbumId="@albumIds" NowPlayingTrack="@nowPlayingTrack"></NowPlayingControls>
                <div>
                    <LoginDisplay />
                </div>
            </div>
        </div>

        <div class="tab-content">
            @Body
        </div>
    </div>
</div>

@code {
    string albumIds { get; set; }

    int nowPlayingTrack { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            nowPlayingService.PropertyChanged += OnPropertyChanged;
        }
    }

    private void OnPropertyChanged(object sender, System.ComponentModel.PropertyChangedEventArgs e)
    {
        if(albumIds != nowPlayingService.CurrentAlbumId) 
        {
            albumIds = nowPlayingService.CurrentAlbumId;
            StateHasChanged();
        }

        if(nowPlayingTrack != nowPlayingService.CurrentTrackIndex)
        {
            nowPlayingTrack = nowPlayingService.CurrentTrackIndex;
            StateHasChanged();
        }
    }
}
