@*<div class="top-row pl-4 navbar navbar-dark">
            <a class="navbar-brand" href="">BlazorWave</a>
            <button class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
    </div>*@

<div class="ui secondary vertical inverted menu">
    <NavLink class="item" href="nowplaying">
        Now Playing
    </NavLink>
    <div class="divider"></div>
    <NavLink class="item" href="/albums/albums">
        Albums
    </NavLink>
    <NavLink class="item" href="artists">
        Artists
    </NavLink>
    <NavLink class="item" href="playlists">
        Playlists
    </NavLink>
    <div class="divider"></div>
    <NavLink class="item" href="settings">
        Settings
    </NavLink>
    <NavLink class="item" href="account">
        Account
    </NavLink>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
