@using BlazorWave.Data.Models;
@using Microsoft.Extensions.DependencyInjection;
@using Microsoft.EntityFrameworkCore;
@inject Services.AlbumsService albumsService
@inject Services.NowPlayingPageService nowPlayingService

<div class="flex">
    <div class="media-buttons">
        <button class="ui icon button seek-back">
            <i class="fast backward icon" style="padding-right: 10px !important;" @onclick="PreviousTrack"></i>
        </button>
        <button class="ui icon button play" @onclick="Pause">     
            <i class="@(isPaused ? "play" : "pause") icon"></i>
        </button>
        <button class="ui icon button seek-front">
            <i class="fast forward icon" @onclick="NextTrack"></i>
        </button>
    </div>
    <div class="media-information">
        <h3>@(NowPlayingAlbum != null ? NowPlayingAlbum.Tracks[NowPlayingTrack].Title : "")</h3>
        <h4>@(NowPlayingAlbum != null ? NowPlayingAlbum.Title + " (" + NowPlayingAlbum.Artist + ")" : "")</h4>
    </div>
</div>

@if (NowPlayingAlbum != null)
    if(NowPlayingAlbum.Tracks.Count > 0) 
    {
        <div class="music">
            <audio id="player" autoplay src="/api/music?trackId=@NowPlayingAlbum.Tracks[NowPlayingTrack].Id" preload="auto" autobuffer></audio>
        </div>   
    }

@code {
    public Album NowPlayingAlbum { get; set; }

    string albumId { get; set; }
    int nowPlayingTrack { get; set; }
    bool isPaused  { get; set; } = false;
    
    protected override void OnAfterRender(bool firstRender)
    {
        if(firstRender)
        {
            isPaused = nowPlayingService.IsPaused;
            nowPlayingService.PropertyChanged += OnPropertyChanged;
        }
    }
    
    [Parameter]
    public string AlbumId {
        get => albumId;
        set
        {
            albumId = value;
            UpdateNowPlaying();
        }
    }

    [Parameter]
    public int NowPlayingTrack {
        get => nowPlayingTrack;
        set 
        {
            nowPlayingTrack = value;
        }
    }

    private void OnPropertyChanged(object sender, System.ComponentModel.PropertyChangedEventArgs e)
    {
        isPaused = nowPlayingService.IsPaused;

        StateHasChanged();
    }

    public async void UpdateNowPlaying()
    {
        if(!string.IsNullOrEmpty(albumId))
            NowPlayingAlbum = await albumsService.GetAlbumAsync(AlbumId);

        StateHasChanged();
    }

    //protected override async Task OnAfterRenderAsync(bool firstRender) 
    //{
        //var image = await JSRuntime.InvokeAsync<string>("playMusic");

        //StateHasChanged();
    //}

    public void NextTrack()
    {
        var next = nowPlayingService.CurrentTrackIndex + 1;

        if(NowPlayingAlbum.Tracks.Count >= next + 1)
            nowPlayingService.CurrentTrackIndex = next;
    } 

    public void PreviousTrack()
    {
        var previous = nowPlayingService.CurrentTrackIndex - 1;

        if(previous != -1)
            nowPlayingService.CurrentTrackIndex = previous;
    }

    public void Pause()
    {
        if(nowPlayingService.IsPaused)
            nowPlayingService.IsPaused = false;
        else
            nowPlayingService.IsPaused = true;

        isPaused = nowPlayingService.IsPaused;
            
        StateHasChanged();
    }
}
